@import "./variables"; 


.elgeneral{
    max-width: 1920px;
    margin: auto;
}


.separador{
    background: $tomato;
    height: 10px !important; 
    margin: 0; 
}

.btn{
    background-color: #FF0033;
    border: none; 
    color: white; 
    padding: 12px 8px;
    border-radius: 3px;
    cursor: pointer;
}
