
.footer{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    &__columna{
        flex-basis: 100%;
        text-align: center;
    }
    
    &__logo{
        max-width: 200px;
        margin: auto;
    }
    
    &__list{
        list-style: none;
    }
    
    &__list a{
        text-decoration: none;
        margin: 10px 0px;
        display: inline-block;
    }
   }
   
   
   